//variables
$siteMainColor: #888888;
$siteBGColor: #f5f5f5;
//general properties
ul {
  margin: 0;
  padding: 0;
}

li {
  padding-right: 10px;
  list-style-type: none;
}

a {
  color: $siteMainColor;
}

a:hover {
  color: red;
}

.container {
  img {
    width: 100%;
    object-fit: cover;
  }
}

.old-price {
  text-decoration: line-through;
}

//----------------
header {
  height: 125px;
  .wrapper-header {
    position: fixed;
    width: 100%;
    z-index: 100;
    .top-heading {
      background-color: $siteBGColor;
      color: $siteMainColor;
      .social-media {
        padding: 10px;
        padding-left: 50px;
        font-size: 18px;
        li {
          display: inline-block;
        }
      }
      .simple-text {
        padding: 10px;
        display: block;
        text-align: center;
      }
      .exchange {
        float: right;
        padding: 10px;
        padding-right: 40px;
        display: flex;
        z-index: 10000;
        cursor: pointer;
        .email {
          padding-right: 20px;
        }
        #options {
          display: none;
          position: absolute;
          right: 9%;
          top: 70%;
          z-index: 100;
          span {
            display: block;
            padding: 5px;
            background-color: black;
            color: white;
          }
          span:hover {
            background-color: red;
          }
        }
      }
    }
    .main-heading {
      background-color: white;
      .logo {
        padding: 20px;
        padding-left: 50px;
      }
      .menu {
        position: relative;
        nav {
          > ul {
            display: flex;
            width: 80%;
            margin: auto;
            > li {
              padding: 20px 15px;
              font-size: 15px;
            }
            .sub-menu {
              position: relative;
              .sub-menu-content {
                position: absolute;
                visibility: hidden;
                top: 100%;
                background-color: black;
              }
            }
            .sub-menu:hover .sub-menu-content {
              visibility: visible;
            }
          }
        }
      }
      .purchase {
        position: absolute;
        top: 30%;
        right: 10%;
        .line {
          display: block;
          width: 1px;
          height: 20px;
          background-color: black;
          margin-left: 23px;
          margin-right: 23px;
          margin-top: 5px;
        }
        #items-count {
          position: absolute;
          display: block;
          background-color: black;
          color: white;
          font-size: 0.7em;
          border-radius: 100%;
          padding: 0 5px;
          top: 0;
          right: -10px;
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}

main {
  .blog {
    padding: 60px 0;
    .blog-post {
      padding-bottom: 80px;
      .img-container {
        position: relative;
        overflow: hidden;
        img {
          transform: scale(1);
          transition: 0.4s;
          width: 100%;
        }
        span {
          position: absolute;
          bottom: 5%;
          left: 0;
          background-color: black;
          color: white;
          padding: 5px 10px;
        }
      }
      .img-container:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
    .tags {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 20px;
      span {
        border: 1px solid lightgrey;
        padding: 5px 10px;
        border-radius: 15px;
        margin-right: 5px;
        margin-bottom: 5px;
      }
      b {
        padding: 5px 10px;
        border-radius: 15px;
        margin-right: 5px;
        margin-bottom: 5px;
      }
    }

    aside {
      .input-group {
        padding-bottom: 40px;
      }
      h4 {
        padding: 20px 0;
      }
      .categories {
        li:first-child {
          border-top: 1px solid gray;
        }
        li {
          border-bottom: 1px solid gray;
        }
        padding-bottom: 40px;
      }
      .feat-pro {
        li {
          display: flex;
          padding-bottom: 10px;
          > a {
            display: block;
            width: 80%;
            img {
              width: 100%;
            }
          }
          div {
            padding-left: 20px;
          }
        }
      }
      .archive {
        li {
          padding: 5px 0;
          span {
            float: right;
          }
        }
      }
      .tags {
        display: flex;
        flex-wrap: wrap;
        span {
          border: 1px solid lightgrey;
          padding: 5px 10px;
          border-radius: 15px;
          margin-right: 5px;
          margin-bottom: 5px;
        }
      }
    }
  }
  .pro-details{
      
  }
  .featured-products {
    padding: 55px 0;
    h2 {
      text-align: center;
      padding-bottom: 20px;
      font-weight: bold;
    }
    .owl-carousel {
      .block {
        .image-container {
          position: relative;
          object-fit: cover;
          width: 100%;
          transition: 0.3s ease;
          .badge {
            position: absolute;
            top: 10px;
            left: 10px;
            color: white;
            padding: 5px;
          }
          .image-overlay {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
            transform: scale(0);
            transition: 0.4s ease-in-out;
            button {
              position: absolute;
              bottom: 10%;
              left: 30%;
            }
          }
          &:hover .image-overlay {
            transform: scale(1);
          }
        }
        a {
          display: block;
        }
      }
    }
  }
}

footer {
  background-color: $siteBGColor;
  .connection {
    padding: 70px 40px;
    li {
      display: inline-block;
    }
  }
  .links {
    padding: 70px 0;
    div {
      width: 33%;
      h4 {
        padding-bottom: 30px;
        font-weight: bold;
      }
      li {
        padding-bottom: 10px;
      }
    }
  }
  .news {
    padding: 70px 0;
    h4 {
      font-weight: bold;
      padding-bottom: 30px;
    }
    input {
      display: block;
      width: 50%;
      border: none;
      background: transparent;
      border-bottom: 1px solid black;
    }
    button {
      display: block;
      background-color: black;
      border-radius: 20px;
      padding: 10px;
      margin-top: 30px;
      a {
        color: white;
      }
    }
  }
}
