//variables
$siteMainColor: #888888;
$siteBGColor: #f5f5f5;
//general properties
ul {
    margin: 0;
    padding: 0;
}

li {
    padding-right: 10px;
    list-style-type: none;
}

a {
    color: $siteMainColor;
}

a:hover {
    color: red;
}

.container {
    img {
        width: 100%;
        object-fit: cover;
    }
}

.old-price {
    text-decoration: line-through;
}

//----------------
header {
    .wrapper-header {
        text-align: center;
        background-color: red;
        color: white;
        padding: 10px;
    }
    .main-heading {
        .social-media {
            padding: 10px;
            padding-left: 50px;
            font-size: 18px;
            li {
                display: inline-block;
            }
        }
        background-color: white;
        .logo {
            text-align: center;
            padding: 10px 0;
        }
        .menu {
            position: relative;
            nav {
                >ul {
                    display: flex;
                    width: 80%;
                    margin: auto;
                    justify-content: center;
                    >li {
                        padding: 20px 15px;
                        font-size: 15px;
                    }
                    .sub-menu {
                        position: relative;
                        .sub-menu-content {
                            position: absolute;
                            visibility: hidden;
                            z-index: 15;
                            top: 100%;
                            background-color: black;
                        }
                    }
                }
            }
        }
        .exchange {
            float: right;
            padding: 10px;
            display: flex;
            z-index: 10000;
            cursor: pointer;
            .email {
                padding-right: 20px;
            }
            #options {
                display: none;
                position: absolute;
                right: 9%;
                top: 70%;
                span {
                    display: block;
                    padding: 5px;
                    background-color: black;
                    color: white;
                }
                span:hover {
                    background-color: red;
                }
            }
        }
        .purchase {
            position: absolute;
            top: 30%;
            right: 10%;
            .line {
                display: inline-block;
                width: 1px;
                height: 20px;
                background-color: black;
                margin-left: 23px;
                margin-right: 23px;
                margin-top: 5px;
            }
            #items-count {
                position: absolute;
                display: block;
                background-color: black;
                color: white;
                font-size: 0.7em;
                border-radius: 100%;
                padding: 0 5px;
                top: 0;
                right: -10px;
                width: 16px;
                height: 16px;
            }
        }
    }
}

.carousel {
    overflow: hidden;
    color: white;
    >a {
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            visibility: hidden;
        }
    }
    a:hover {
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            visibility: visible;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 50%;
            padding: 15px;
        }
    }
    .carousel-item {
        position: relative;
        .carousel-content {
            position: absolute;
            top: 30%;
            left: 40%;
            text-align: center;
            h2 {
                font-size: 60px;
                line-height: 1.2em;
                letter-spacing: 3px;
                font-weight: bold;
                margin: 30px 0;
            }
            span {
                font-size: 1.2em;
            }
            .shop-now {
                border-radius: 20px;
                width: 35%;
                padding: 10px 20px;
                margin: auto;
                a {
                    color: black;
                }
            }
        }
    }
}

.products {
    .mb-5 {
        position: relative;
        overflow: hidden;
        a {
            text-transform: uppercase;
        }
        >img {
            transform: scale(1);
            transition: 0.6s;
        }
        .product-links {
            position: absolute;
            background-color: rgba(255, 255, 255, 0.9);
            padding: 10px 30px;
            border-radius: 5px;
            bottom: 5%;
            left: 33%;
        }
        .sign-up {
            position: absolute;
            top: 0;
            padding: 50px;
            text-align: center;
            h4 {
                font-size: 40px;
            }
            p {
                color: $siteMainColor;
            }
            div {
                width: 60%;
                margin: auto;
                background-color: black;
                border-radius: 25px;
                padding: 10px;
                a {
                    color: white;
                }
            }
        }
    }
    .mb-5:hover {
        >img {
            transform: scale(1.1);
        }
    }
}

.our-products {
    .container {
        text-align: center;
        ul {
            padding: 10px;
            li {
                display: inline-block;
            }
        }
        .catalog {
            .block {
                .image-container {
                    position: relative;
                    object-fit: cover;
                    transition: 0.3s ease;
                    img {
                        width: 100%;
                    }
                    .badge {
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        color: white;
                        padding: 5px;
                    }
                    .image-overlay {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        background-color: rgba(0, 0, 0, 0.5);
                        width: 100%;
                        height: 100%;
                        transform: scale(0);
                        transition: 0.4s ease-in-out;
                        button {
                            position: absolute;
                            bottom: 10%;
                            left: 30%;
                        }
                    }
                    &:hover .image-overlay {
                        transform: scale(1);
                    }
                }
                a {
                    display: block;
                }
            }
        }
    }
}

.lookbook {
    .fixed-image {
        background-image: url("/images/bg-video-01.jpg");
        background-attachment: fixed;
        height: 500px;
        width: 100%;
    }
}

.our-blog {
    padding: 60px 0;
    text-align: center;
    h3 {
        padding: 20px 0;
        font-size: 30px;
        font-weight: bold;
    }
}

.instagram {
    h2 {
        padding: 20px 0;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }
    .block-items {
        position: relative;
        overflow: hidden;
        img {
            object-fit: cover;
            width: 100%;
            transition: 0.3s ease;
        }
        .overlay {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
            transform: scale(0);
            transition: 0.4s ease-in-out;
        }
    }
    .block-items:hover .overlay {
        transform: scale(1);
    }
}

.details {
    padding: 80px 0;
    .col-md-4 {
        text-align: center;
    }
    .col-md-4:nth-child(2) {
        border-right: 1px black solid;
        border-left: 1px black solid;
    }
}

footer {
    background-color: $siteBGColor;
    .connection {
        padding: 70px 40px;
        li {
            display: inline-block;
        }
    }
    .links {
        padding: 70px 0;
        div {
            width: 33%;
            h4 {
                padding-bottom: 30px;
                font-weight: bold;
            }
            li {
                padding-bottom: 10px;
            }
        }
    }
    .news {
        padding: 70px 0;
        h4 {
            font-weight: bold;
            padding-bottom: 30px;
        }
        input {
            display: block;
            width: 50%;
            border: none;
            background: transparent;
            border-bottom: 1px solid black;
        }
        button {
            display: block;
            background-color: black;
            border-radius: 20px;
            padding: 10px;
            margin-top: 30px;
            a {
                color: white;
            }
        }
    }
}