* {
  font-family: "Montserrat", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  padding-right: 10px;
  list-style-type: none;
}

a {
  color: #888888;
}

a:hover {
  color: red;
}

.container img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.old-price {
  text-decoration: line-through;
}

header {
  overflow: hidden;
}

header .wrapper-header {
  width: 100%;
  z-index: 100;
}

header .wrapper-header .top-heading {
  background-color: #f5f5f5;
  color: #888888;
}

header .wrapper-header .top-heading .social-media {
  padding: 10px;
  padding-left: 50px;
  font-size: 18px;
}

header .wrapper-header .top-heading .social-media li {
  display: inline-block;
}

header .wrapper-header .top-heading .logo {
  text-align: center;
  padding: 20px 0;
}

header .wrapper-header .top-heading .simple-text {
  padding: 10px;
  display: block;
  text-align: center;
}

header .wrapper-header .top-heading .exchange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 10px;
  padding-right: 40px;
  z-index: 10000;
  cursor: pointer;
}

header .wrapper-header .top-heading .exchange .email {
  padding-right: 20px;
}

header .wrapper-header .top-heading .exchange .options {
  display: none;
  position: absolute;
  right: 9%;
  top: 70%;
  z-index: 100;
}

header .wrapper-header .top-heading .exchange .options span {
  display: block;
  padding: 5px;
  background-color: black;
  color: white;
}

header .wrapper-header .top-heading .exchange .options span:hover {
  background-color: red;
}

header .wrapper-header .main-heading {
  background-color: white;
}

header .wrapper-header .main-heading .logo {
  padding: 20px;
  padding-left: 50px;
}

header .wrapper-header .main-heading .menu {
  position: relative;
}

header .wrapper-header .main-heading .menu nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .wrapper-header .main-heading .menu nav > ul > li {
  padding: 20px 15px;
  font-size: 15px;
}

header .wrapper-header .main-heading .menu nav > ul .sub-menu {
  position: relative;
}

header .wrapper-header .main-heading .menu nav > ul .sub-menu .sub-menu-content {
  position: absolute;
  visibility: hidden;
  top: 100%;
  background-color: black;
}

header .wrapper-header .main-heading .menu nav > ul .sub-menu:hover .sub-menu-content {
  visibility: visible;
}

header .wrapper-header .purchase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: relative;
}

header .wrapper-header .purchase .line {
  width: 1px;
  height: 20px;
  background-color: black;
  margin-left: 23px;
  margin-right: 23px;
  margin-top: 5px;
}

header .wrapper-header .purchase #items-count {
  position: absolute;
  display: block;
  background-color: black;
  color: white;
  font-size: 0.7em;
  border-radius: 100%;
  padding: 0 5px;
  top: 0;
  right: -10px;
  width: 16px;
  height: 16px;
}

header .wrapper-header-red {
  text-align: center;
  background-color: red;
  color: white;
  padding: 10px;
}

main .top-main {
  position: relative;
  overflow: hidden;
  text-align: center;
}

main .top-main span {
  position: absolute;
  top: 0%;
  font-size: 50px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

main .coupon table {
  border-collapse: collapse;
  margin-bottom: 30px;
}

main .coupon table td {
  padding: 20px;
}

main .coupon table thead td {
  text-align: center;
  font-weight: 700;
}

main .coupon table tbody tr {
  border: 1px solid #e6e6e6;
  color: #555;
}

main .coupon table tbody tr .col1 {
  width: 15%;
  padding: 40px;
}

main .coupon table tbody tr td {
  text-align: center;
}

main .coupon table tbody tr td > button {
  outline: none;
  border: none;
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 10px 30px;
}

main .coupon table tbody tr td > input {
  font-size: 14px;
  padding: 10px;
  width: 30%;
  margin: 20px;
}

main .coupon table tbody tr input {
  border: 1px solid #e6e6e6;
}

main .coupon table tbody tr .minus-plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  background-color: #e6e6e6;
}

main .coupon table tbody tr .minus-plus input {
  text-align: center;
  width: 40%;
  outline: none;
  border: 2px solid #e6e6e6;
  margin: 0;
  padding: 0;
}

main .coupon table tbody tr .minus-plus button {
  outline: none;
  border: none;
  padding: 10px;
  width: 30%;
  background-color: #e6e6e6;
  color: black;
}

main .coupon .cart-totals {
  border: 1px solid #e6e6e6;
  width: 40%;
  margin-bottom: 50px;
  margin-left: auto;
}

main .coupon .cart-totals .container {
  padding: 40px;
}

main .coupon .cart-totals .container > div {
  padding: 20px 0;
}

main .coupon .cart-totals .container b {
  width: 30%;
}

main .coupon .cart-totals .container span {
  width: 70%;
}

main .coupon .cart-totals .container h4 {
  font-weight: 700;
  padding-bottom: 20px;
}

main .coupon .cart-totals .container .subtotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px dotted #e6e6e6;
}

main .coupon .cart-totals .container .shipping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px dotted #e6e6e6;
}

main .coupon .cart-totals .container .shipping div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
}

main .coupon .cart-totals .container .shipping div input, main .coupon .cart-totals .container .shipping div select {
  border: 1px solid #e6e6e6;
  padding: 10px;
  margin: 10px 15px 10px 0;
  font-size: 14px;
}

main .coupon .cart-totals .container .shipping div button {
  outline: none;
  border: none;
  width: 80%;
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 10px;
}

main .coupon .cart-totals .container .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .coupon .cart-totals .container .checkout button {
  outline: none;
  border: none;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 10px;
}

main .container .our-products .container {
  text-align: center;
}

main .container .our-products .container h3 {
  text-align: center;
  padding-bottom: 20px;
  font-weight: bold;
}

main .container .our-products .container ul {
  padding: 10px;
}

main .container .our-products .container ul li {
  display: inline-block;
}

main .container .our-products .container .owl-carousel .block .image-container,
main .container .our-products .container .catalog .block .image-container {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

main .container .our-products .container .owl-carousel .block .image-container img,
main .container .our-products .container .catalog .block .image-container img {
  width: 100%;
}

main .container .our-products .container .owl-carousel .block .image-container .badge,
main .container .our-products .container .catalog .block .image-container .badge {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  padding: 5px;
}

main .container .our-products .container .owl-carousel .block .image-container .image-overlay,
main .container .our-products .container .catalog .block .image-container .image-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

main .container .our-products .container .owl-carousel .block .image-container .image-overlay button,
main .container .our-products .container .catalog .block .image-container .image-overlay button {
  position: absolute;
  bottom: 10%;
  left: 30%;
}

main .container .our-products .container .owl-carousel .block .image-container:hover .image-overlay,
main .container .our-products .container .catalog .block .image-container:hover .image-overlay {
  -webkit-transform: scale(1);
          transform: scale(1);
}

main .container .our-products .container .owl-carousel .block a,
main .container .our-products .container .catalog .block a {
  display: block;
}

main .container .shop-side h4 {
  font-weight: 700;
}

main .container .shop-side ul {
  padding-bottom: 40px;
}

main .container .shop-side ul li {
  padding-bottom: 10px;
}

main .container .shop-side .price {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 40px 0;
}

main .container .shop-side .price div.fr {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .container .shop-side .price div.fr button {
  outline: none;
  border: none;
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 0 15px;
  margin-right: 40px;
}

main .container .shop-side .price #slider-range .ui-slider-handle {
  border-radius: 100%;
  outline: none;
}

main .container .shop-side .price #slider-range .ui-widget-header {
  background-color: black;
  height: 20%;
  top: 50%;
}

main .container .shop-side .price #slider-range .ui-widget.ui-widget-content {
  border: none;
}

main .container .shop-side .color li {
  display: inline-block;
  border-radius: 100%;
  padding: 15px;
  cursor: pointer;
}

main .blog {
  padding: 60px 0;
}

main .blog .blog-post {
  padding-bottom: 80px;
  color: #888888;
}

main .blog .blog-post .img-container {
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;
}

main .blog .blog-post .img-container img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 100%;
}

main .blog .blog-post .img-container span {
  position: absolute;
  bottom: 5%;
  left: 0;
  background-color: black;
  color: white;
  padding: 5px 10px;
}

main .blog .blog-post .img-container:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main .blog .blog-post h2 {
  padding: 15px 0;
}

main .blog .blog-post h2 a {
  color: black;
}

main .blog .blog-post h2 a:hover {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  color: darkred;
}

main .blog .blog-post .description {
  padding-bottom: 20px;
  font-size: 15px;
}

main .blog aside {
  padding-left: 50px;
}

main .blog aside .input-group {
  margin-bottom: 40px;
  padding: 5px;
  border: 1px solid #888888;
  border-radius: 20px;
}

main .blog aside .input-group button,
main .blog aside .input-group input {
  font-size: 0.9em;
  border: none;
}

main .blog aside h4 {
  padding: 20px 0;
  font-weight: 700;
}

main .blog aside .categories {
  padding-bottom: 40px;
}

main .blog aside .categories li:first-child {
  border-top: 1px solid #888888;
}

main .blog aside .categories li {
  padding: 10px 0;
  border-bottom: 1px solid #888888;
}

main .blog aside .feat-pro {
  color: #888888;
}

main .blog aside .feat-pro li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
}

main .blog aside .feat-pro li > a {
  display: block;
  width: 50%;
}

main .blog aside .feat-pro li > a img {
  width: 100%;
}

main .blog aside .feat-pro li div {
  padding-left: 20px;
}

main .blog aside .feat-pro li div a {
  display: block;
  width: 80%;
}

main .blog aside .archive li {
  padding: 5px 0;
}

main .blog aside .archive li span {
  float: right;
  color: #888888;
}

main .blog aside .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .blog aside .tags span {
  border: 1px solid #888888;
  padding: 5px 10px;
  border-radius: 15px;
  margin-right: 5px;
  margin-bottom: 5px;
}

main .our-story .photo {
  overflow: hidden;
}

main .our-story .photo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main .our-story .photo:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main .our-story article .quoto {
  border-left: 1px solid gray;
  padding-left: 30px;
  margin-left: 5px;
}

main .our-story article .quoto span {
  display: block;
}

main .form-section {
  padding: 50px 0;
}

main .form-section #map {
  width: 100%;
  height: 450px;
}

main .form-section .form-send h4 {
  font-size: 25px;
  line-height: 30px;
  padding-bottom: 20px;
}

main .form-section .form-send form .form-group input,
main .form-section .form-send form .form-group textarea {
  font-size: 13px;
  padding: 20px;
  margin: 20px 0;
}

main .form-section .form-send form button {
  border-radius: 20px;
  border: none;
  padding: 10px 50px;
}

main .form-section .form-send form button:hover {
  background-color: red;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

main .carousel {
  color: white;
}

main .carousel > a .carousel-control-prev-icon,
main .carousel > a .carousel-control-next-icon {
  visibility: hidden;
}

main .carousel .carousel-item {
  position: relative;
}

main .carousel .carousel-item .carousel-content {
  position: absolute;
  top: 30%;
  left: 40%;
  text-align: center;
}

main .carousel .carousel-item .carousel-content h2 {
  font-size: 60px;
  line-height: 1.2em;
  letter-spacing: 3px;
  font-weight: bold;
  margin: 30px 0;
}

main .carousel .carousel-item .carousel-content span {
  font-size: 1.2em;
}

main .carousel .carousel-item .carousel-content .shop-now {
  border-radius: 20px;
  width: 35%;
  padding: 10px 20px;
  margin: auto;
}

main .carousel .carousel-item .carousel-content .shop-now a {
  color: black;
}

main .carousel-slide:hover .carousel-control-prev-icon,
main .carousel-slide:hover .carousel-control-next-icon {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 15px;
}

main .products .product-items {
  position: relative;
  overflow: hidden;
}

main .products .product-items a {
  text-transform: uppercase;
}

main .products .product-items > img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

main .products .product-items .product-links {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px 30px;
  border-radius: 5px;
  bottom: 5%;
  left: 33%;
}

main .products .product-items .sign-up {
  position: absolute;
  top: 0;
  padding: 50px;
  text-align: center;
}

main .products .product-items .sign-up h4 {
  font-size: 40px;
}

main .products .product-items .sign-up p {
  color: #888888;
}

main .products .product-items .sign-up div {
  width: 60%;
  margin: auto;
  background-color: black;
  border-radius: 25px;
  padding: 10px;
}

main .products .product-items .sign-up div a {
  color: white;
}

main .products .product-items:hover > img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main .featured-products {
  padding: 55px 0;
}

main .featured-products .container {
  text-align: center;
}

main .featured-products .container h3 {
  text-align: center;
  padding-bottom: 20px;
  font-weight: bold;
}

main .featured-products .container ul {
  padding: 10px;
}

main .featured-products .container ul li {
  display: inline-block;
}

main .featured-products .container .owl-carousel .block .image-container,
main .featured-products .container .catalog .block .image-container {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

main .featured-products .container .owl-carousel .block .image-container img,
main .featured-products .container .catalog .block .image-container img {
  width: 100%;
}

main .featured-products .container .owl-carousel .block .image-container .badge,
main .featured-products .container .catalog .block .image-container .badge {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  padding: 5px;
}

main .featured-products .container .owl-carousel .block .image-container .image-overlay,
main .featured-products .container .catalog .block .image-container .image-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

main .featured-products .container .owl-carousel .block .image-container .image-overlay button,
main .featured-products .container .catalog .block .image-container .image-overlay button {
  position: absolute;
  bottom: 10%;
  left: 30%;
}

main .featured-products .container .owl-carousel .block .image-container:hover .image-overlay,
main .featured-products .container .catalog .block .image-container:hover .image-overlay {
  -webkit-transform: scale(1);
          transform: scale(1);
}

main .featured-products .container .owl-carousel .block a,
main .featured-products .container .catalog .block a {
  display: block;
}

main .countdown-banner {
  background-color: #f5f5f5;
  padding: 60px 0;
}

main .countdown-banner .banner {
  position: relative;
}

main .countdown-banner .banner .img-feature-content {
  position: absolute;
  top: 30%;
  left: 30%;
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

main .countdown-banner .banner .img-feature-content h3 {
  font-size: 50px;
}

main .countdown-banner .banner .img-feature-content a {
  color: white;
}

main .countdown-banner .banner .img-countdown-content {
  position: absolute;
  top: 60%;
  left: 20%;
  text-align: center;
}

main .countdown-banner .banner .img-countdown-content a {
  display: block;
}

main .countdown-banner .banner .img-countdown-content .countdown {
  padding-top: 40px;
}

main .countdown-banner .banner .img-countdown-content .countdown div {
  margin-right: 5px;
  border: 1px solid black;
}

main .lookbook .fixed-image {
  background-image: url("/images/bg-video-01.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
}

main .our-blog {
  padding: 60px 0;
  text-align: center;
}

main .our-blog h3 {
  padding: 20px 0;
  font-size: 30px;
  font-weight: bold;
}

main .instagram h2 {
  padding: 20px 0;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

main .instagram .block-items {
  position: relative;
  overflow: hidden;
}

main .instagram .block-items img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

main .instagram .block-items .overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

main .instagram .block-items:hover .overlay {
  -webkit-transform: scale(1);
          transform: scale(1);
}

main .details {
  padding: 80px 0;
}

main .details .col-md-4 {
  text-align: center;
}

main .details .col-md-4:nth-child(2) {
  border-right: 1px black solid;
  border-left: 1px black solid;
}

footer {
  background-color: #f5f5f5;
}

footer .connection {
  padding: 70px 40px;
}

footer .connection li {
  display: inline-block;
}

footer .links {
  padding: 70px 0;
}

footer .links div {
  width: 33%;
}

footer .links div h4 {
  padding-bottom: 30px;
  font-weight: bold;
}

footer .links div li {
  padding-bottom: 10px;
}

footer .news {
  padding: 70px 0;
}

footer .news h4 {
  font-weight: bold;
  padding-bottom: 30px;
}

footer .news input {
  display: block;
  width: 50%;
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
}

footer .news button {
  display: block;
  background-color: black;
  border-radius: 20px;
  padding: 10px;
  margin-top: 30px;
}

footer .news button a {
  color: white;
}
/*# sourceMappingURL=style.css.map */