ul {
  margin: 0;
  padding: 0;
}

li {
  padding-right: 10px;
  list-style-type: none;
}

a {
  color: #888888;
}

a:hover {
  color: red;
}

.container img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.old-price {
  text-decoration: line-through;
}

header {
  height: 125px;
  overflow: hidden;
}

header .wrapper-header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

header .wrapper-header .top-heading {
  background-color: #f5f5f5;
  color: #888888;
}

header .wrapper-header .top-heading .social-media {
  padding: 10px;
  padding-left: 50px;
  font-size: 18px;
}

header .wrapper-header .top-heading .social-media li {
  display: inline-block;
}

header .wrapper-header .top-heading .simple-text {
  padding: 10px;
  display: block;
  text-align: center;
}

header .wrapper-header .top-heading .exchange {
  float: right;
  padding: 10px;
  padding-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10000;
  cursor: pointer;
}

header .wrapper-header .top-heading .exchange .email {
  padding-right: 20px;
}

header .wrapper-header .top-heading .exchange #options {
  display: none;
  position: absolute;
  right: 9%;
  top: 70%;
}

header .wrapper-header .top-heading .exchange #options span {
  display: block;
  padding: 5px;
  background-color: black;
  color: white;
}

header .wrapper-header .top-heading .exchange #options span:hover {
  background-color: red;
}

header .wrapper-header .main-heading {
  background-color: white;
}

header .wrapper-header .main-heading .logo {
  padding: 20px;
  padding-left: 50px;
}

header .wrapper-header .main-heading .menu {
  position: relative;
}

header .wrapper-header .main-heading .menu nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
}

header .wrapper-header .main-heading .menu nav > ul > li {
  padding: 20px 15px;
  font-size: 15px;
}

header .wrapper-header .main-heading .menu nav > ul .sub-menu {
  position: relative;
}

header .wrapper-header .main-heading .menu nav > ul .sub-menu .sub-menu-content {
  position: absolute;
  visibility: hidden;
  z-index: 15;
  top: 100%;
  background-color: black;
}

header .wrapper-header .main-heading .purchase {
  position: absolute;
  top: 30%;
  right: 10%;
}

header .wrapper-header .main-heading .purchase .line {
  display: block;
  width: 1px;
  height: 20px;
  background-color: black;
  margin-left: 23px;
  margin-right: 23px;
  margin-top: 5px;
}

header .wrapper-header .main-heading .purchase #items-count {
  position: absolute;
  display: block;
  background-color: black;
  color: white;
  font-size: 0.7em;
  border-radius: 100%;
  padding: 0 5px;
  top: 0;
  right: -10px;
  width: 16px;
  height: 16px;
}

.carousel {
  overflow: hidden;
  color: white;
}

.carousel > a .carousel-control-prev-icon,
.carousel > a .carousel-control-next-icon {
  visibility: hidden;
}

.carousel a:hover .carousel-control-prev-icon,
.carousel a:hover .carousel-control-next-icon {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 15px;
}

.carousel .carousel-item {
  position: relative;
}

.carousel .carousel-item .carousel-content {
  position: absolute;
  top: 30%;
  left: 40%;
  text-align: center;
}

.carousel .carousel-item .carousel-content h2 {
  font-size: 60px;
  line-height: 1.2em;
  letter-spacing: 3px;
  font-weight: bold;
  margin: 30px 0;
}

.carousel .carousel-item .carousel-content span {
  font-size: 1.2em;
}

.carousel .carousel-item .carousel-content .shop-now {
  border-radius: 20px;
  width: 35%;
  padding: 10px 20px;
  margin: auto;
}

.carousel .carousel-item .carousel-content .shop-now a {
  color: black;
}

.products .mb-5 {
  position: relative;
  overflow: hidden;
}

.products .mb-5 a {
  text-transform: uppercase;
}

.products .mb-5 > img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.products .mb-5 .product-links {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px 30px;
  border-radius: 5px;
  bottom: 5%;
  left: 33%;
}

.products .mb-5 .sign-up {
  position: absolute;
  top: 0;
  padding: 50px;
  text-align: center;
}

.products .mb-5 .sign-up h4 {
  font-size: 40px;
}

.products .mb-5 .sign-up p {
  color: #888888;
}

.products .mb-5 .sign-up div {
  width: 60%;
  margin: auto;
  background-color: black;
  border-radius: 25px;
  padding: 10px;
}

.products .mb-5 .sign-up div a {
  color: white;
}

.products .mb-5:hover > img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.featured-products {
  padding: 55px 0;
}

.featured-products h2 {
  text-align: center;
  padding-bottom: 20px;
  font-weight: bold;
}

.featured-products .owl-carousel .block {
  position: relative;
}

.featured-products .owl-carousel .block .badge {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  padding: 5px;
}

.featured-products .owl-carousel .block a {
  display: block;
}

.countdown-banner {
  background-color: #f5f5f5;
  padding: 60px 0;
}

.countdown-banner .banner {
  position: relative;
}

.countdown-banner .banner .img-feature-content {
  position: absolute;
  top: 30%;
  left: 30%;
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.countdown-banner .banner .img-feature-content h3 {
  font-size: 50px;
}

.countdown-banner .banner .img-feature-content a {
  color: white;
}

.countdown-banner .banner .img-countdown-content {
  position: absolute;
  top: 60%;
  left: 20%;
  text-align: center;
}

.countdown-banner .banner .img-countdown-content a {
  display: block;
}

.countdown-banner .banner .img-countdown-content .countdown {
  padding-top: 40px;
}

.countdown-banner .banner .img-countdown-content .countdown div {
  margin-right: 5px;
  border: 1px solid black;
}

.our-blog {
  padding: 60px 0;
  text-align: center;
}

.our-blog h3 {
  padding: 20px 0;
  font-size: 30px;
  font-weight: bold;
}

.instagram h2 {
  padding: 20px 0;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.instagram .block-items {
  position: relative;
  overflow: hidden;
}

.instagram .block-items img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.instagram .block-items .overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.instagram .block-items:hover .overlay {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.details {
  padding: 80px 0;
}

.details .col-md-4 {
  text-align: center;
}

.details .col-md-4:nth-child(2) {
  border-right: 1px black solid;
  border-left: 1px black solid;
}

footer {
  background-color: #f5f5f5;
}

footer .connection {
  padding: 70px 40px;
}

footer .connection li {
  display: inline-block;
}

footer .links {
  padding: 70px 0;
}

footer .links div {
  width: 33%;
}

footer .links div h4 {
  padding-bottom: 30px;
  font-weight: bold;
}

footer .links div li {
  padding-bottom: 10px;
}

footer .news {
  padding: 70px 0;
}

footer .news h4 {
  font-weight: bold;
  padding-bottom: 30px;
}

footer .news input {
  display: block;
  width: 50%;
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
}

footer .news button {
  display: block;
  background-color: black;
  border-radius: 20px;
  padding: 10px;
  margin-top: 30px;
}

footer .news button a {
  color: white;
}
/*# sourceMappingURL=style.css.map */